Defaults   !visiblepw
Defaults    env_reset
Defaults    env_keep =  "COLORS HOSTNAME HISTSIZE HOME LS_COLORS"
Defaults    env_keep += "MAIL PS1 PS2 USERNAME LANG LC_ADDRESS LC_CTYPE"
Defaults    env_keep += "LC_COLLATE LC_IDENTIFICATION LC_MEASUREMENT LC_MESSAGES"
Defaults    env_keep += "LC_MONETARY LC_NAME LC_NUMERIC LC_PAPER LC_TELEPHONE"
Defaults    env_keep += "LC_TIME LC_ALL LANGUAGE LINGUAS"
Defaults    secure_path = /sbin:/bin:/usr/sbin:/usr/bin

root    ALL=(ALL)       ALL

%{{ sudo_group }}  ALL=(ALL) {% if not admin_user_password is defined %}NOPASSWD: {% endif %}ALL

#includedir /etc/sudoers.d
